<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="btn btn-light">Delete post</button>
  </form>
</article>

<form class="">
  <div>
    <textarea name="post-title"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="public/javascript/editpost.js"></script>
<script src="/models/post.js"></script>
<script src="/models/comment.js"></script>