<!-- navigation bar -->
<header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/giveboard" id="giveboardnav"><u>Give Help Board</u></a>
            </li>
            <li>
                <a href="/getboard" id="getnav">Get Help Board</a>
            </li>
            <li id="login-logout">
                {{#if loggedIn}}
                <a href="">Create New Post</a>
                <button class="btn btn-light">logout</button>
                {{else}}
                <a href="/login" id="navlogin">sign up or log in</a>
                {{/if}}
            </li>
        </ul>
    </nav>
</header>
<div>
    <h1>Give Help Board</h1>
</div>
{{!-- posts --}}
<ul>
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <img src="/stylesheets/images/pngjoy.com_thumb-tack-board-pin-icon-png-png-download_10162438.png" alt="thumb-tack">
            <div class="title">
                <a href="/giveboard/{{post.id}}" target="_blank">{{post.title}}</a>
                <span>{{post.content}}</span>
                <span>Posted by: {{post.user.first_name}} {{post.user.last_name}}</span>
            </div>
            <div class="meta">
                {{#if post.comments.length}}
                <span>Comments</span>
                {{#each post.comments}}
                <span>{{comment_text}}</span>
                {{/each}}
                {{/if}}
            </div>
        </article>
    </li>
    {{/each}}
</ul>