<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/giveboard">Give Help Board</a>
      </li>
      <li>
        <a href="/getboard"><u>Get Help Board</u></a>
      </li>
      <li id="login-logout">
        {{#if loggedIn}}
        <a href="">Create New Post</a>
        <button class="btn btn-light">logout</button>
        {{else}}
        <a href="/login" id="navlogin">sign up or log in</a>
        {{/if}}
      </li>
    </ul>
  </nav>
</header>
<section class="more-spacing">
  <h2 class="spacing">{{post.title}}</h2>
  <span class="spacing bigger-font">Created by:{{post.user.first_name}} {{post.user.last_name}}</span>
  <span class="spacing bigger-font">Category: {{post.category.name}}</span>
  <span class="spacing bigger-font">{{post.content}}</span>



</section>

{{#if loggedIn}}
<section class="more-spacing spacing">
  <button type="button" id="editBtn" class="btn btn-primary spacing">Edit Post</button>
  <button type="button" id="deleteBtn" class="btn btn-danger spacing">Delete Post</button>
</section>
{{/if}}

{{#if post.comments.length}}
<section>
  <h2>Comments</h2>
  {{#each post.comment}}
  <span>{{post.comment.text}}</span>
  {{/each}}
</section>
{{/if}}

<script src="/javascript/single-post.js"></script>
<script src="/javascript/homepage.js"></script>